<html>
<head>
    <title>{{ title }}</title>
    <script type="text/javascript" language="JavaScript" src="{{ static_url("jquery-1.5.1.min.js")}}"></script>
    <script type='text/javascript' language='JavaScript'>
      
        function test(){
                window.setTimeout(function(){
                    $.ajax({
                        url : '/long-polling?name={{ user }}',  
                        success : function(data){
                            $("#num").text(data);   
                        }
                    });
                    test();
                }, 5000);
        }
    </script>
</head>
<body>
    Current time is {{c_time}}
    <br>
    <input type="button" value="Test" onclick="test();"/>
    <div id="num"></div>
</body>
</html>


